@{
    ViewBag.Title = "About";
}

<div class="content-container">
    <table class="resume">
        <tr>
            <td class="resume-year">2012-2016</td>
            <td class="resume-entry">
                <h3>University of Nebraska - Lincoln</h3>
                <p>Bachelor of Science, Actuarial Science</p>
                <p>Jeffrey S. Raikes School of Computer Science and Management</p>
            </td>
        </tr>
        <tr>
            <td class="resume-year">
                2015
                <br />
                <small>May-August</small>
            </td>
            <td class="resume-entry">
                <h3>Wakely Consulting Group</h3>
                <p>Actuarial Intern</p>
            </td>
        </tr>
        <tr>
            <td class="resume-year">
                2014
                <br />
                <small>May-August</small>
            </td>
            <td class="resume-entry">
                <h3>Hannover Life Reassurance Company of America</h3>
                <p>Actuarial Intern</p>
            </td>
        </tr>
        <tr>
            <td class="resume-year">
                2013
                <br />
                <small>May-August</small>
            </td>
            <td class="resume-entry">
                <h3>Aviva USA</h3>
                <p>Actuarial Intern</p>
            </td>
        </tr>
        <tr>
            <td class="resume-year">2008-2012</td>
            <td class="resume-entry">
                <h3>Fayettville High School</h3>
            </td>
        </tr>
    </table>
</div>