@{
    ViewBag.Title = "Home";
}

<div class="cover-photo"></div>
<div class="cover-text">
    <div class="cover-text-container">
        <h2>Hey, I'm</h2>
        <h1>Tyler Steiner</h1>
        <h3>Actuary &middot; Movie Enthusiast</h3>
    </div>
</div>